<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% extends "layout.html" %}
{% block body %}


{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}

{% if success %}
<p class=success><strong>Success:</strong> {{ success }}
{% endif %}

<p>Welcome,  <b>{{ username }}</b>!</p>

<div class="column left">
    <ul class="list">
        {% for user in users %}
        <li class="list-item">
            <div class="list-item-content">
                <form action="/home" method = "get">
                    <button class="name-btn" type="submit" name="picked_name" value="{{user}}">{{user}}</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="column right">
    {% if to_user %}
      <p>Links shared with you by <b>{{to_user}}</b></p>
    {% else %}
      <p>Select a user on the left.</p>
    {% endif %}
    <div class="msger-chat">
        <div class="msg left-msg">

            {% for message in messages %}
            <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name" name="name">{{message.from}}{% if message.from == username %} (You){% endif %}</div>
                    <div class="msg-info-time" name="time">{{message.datetime}}
                        <form action="/home" method = "get">
                            <button><i class="fa fa-trash"></i></button>
                            <input type="hidden" name="id" value="{{message.id}}">
                            <input type="hidden" name="from_user" value="{{username}}">
                            <input type="hidden" name="to_user" value="{{to_user}}">
                        </form>
                    </div>
                </div>
                <div class="msg-text" name="message">{{message.link}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <p><a href="/new_message">Share a link...<a></p>
</div>

<form action="/logout">
    <button class="logout" type="submit">Logout</button>
</form>


{% endblock %}
</body>
</html>